body {
    background: #fff;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #888;
    font-size: 12px;
    background: url(../web/img/background24.jpg) repeat;

    /*background-attachment: fixed;*/
    /*zoom: 1;*/
    /*background-size: 100%;*/
}

.violet {
    /* color: #9d426b; */
    color: #bf5181!important;
}

a {
    color: #bf5181;
    text-decoration: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}
a:hover, a:focus { color: #888; text-decoration: none; }

strong { font-weight: bold; }

img { max-width: 100%; }

h1, h2 { line-height: 40px; }
h3, h4 { line-height: 20px; }

::-moz-selection { background: #bf5181; color: #fff; text-shadow: none; }
::selection { background: #bf5181; color: #fff; text-shadow: none; }


/***** Big links / buttons *****/

a.big-link-1 {
    display: inline-block;
    padding: 5px 22px;
    background: #bf5181;
    color: #fff;
    font-style: italic;
    text-decoration: none;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);

}

a.big-link-1:hover {
    color: #ffffff;
    background-color: #d75b91;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

a.big-link-1:active {
    -moz-box-shadow: 0 5px 10px 0 rgba(0,0,0,.15) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
    -webkit-box-shadow: 0 5px 10px 0 rgba(0,0,0,.15) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.15) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
}

a.big-link-2 {
    display: inline-block;
    width: 35px;
    height: 35px;
    padding-top: 6px;
    background: #bf5181;
    font-size: 20px;
    color: #fff;
    line-height: 20px;
    -moz-border-radius: 19px; -webkit-border-radius: 19px; border-radius: 19px;
    -moz-box-shadow: 0 1px 25px 0 rgba(0,0,0,.05) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
    -webkit-box-shadow: 0 1px 25px 0 rgba(0,0,0,.05) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
    box-shadow: 0 1px 25px 0 rgba(0,0,0,.05) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
}
a.big-link-2 i { vertical-align: middle; }

a.big-link-2:hover {
    /*background: #5d5d5d;*/
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    color: #ffffff;
    background-color: #d75b91;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

a.big-link-2:active {
    -moz-box-shadow: 0 5px 10px 0 rgba(0,0,0,.15) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
    -webkit-box-shadow: 0 5px 10px 0 rgba(0,0,0,.15) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.15) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
}

a.big-link-3 {
    display: inline-block;
    padding: 5px 22px;
    background: #bf5181;
    font-size: 18px;
    color: #fff;
    font-style: italic;
    line-height: 24px;
    text-decoration: none;
    -moz-box-shadow: 0 1px 25px 0 rgba(0,0,0,.05) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
    -webkit-box-shadow: 0 1px 25px 0 rgba(0,0,0,.05) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
    box-shadow: 0 1px 25px 0 rgba(0,0,0,.05) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
}

a.big-link-3:hover {
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

a.big-link-3:active {
    -moz-box-shadow: 0 5px 10px 0 rgba(0,0,0,.15) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
    -webkit-box-shadow: 0 5px 10px 0 rgba(0,0,0,.15) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.15) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
}


/***** Top menu *****/
.nav-height{
    max-height:70px;
}
.navbar {
    margin-bottom: 0;
    background: #fff;
    border: 0;
    -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
    opacity:0.9;
}

ul.navbar-nav {
    font-size: 14px;
    color: #b6b6b6;
    text-transform: uppercase;
    background: #fff;

}

ul.navbar-nav li a { padding: 5px 20px; background: #fff; border-top: 5px solid #fff; color: #0e0e0e; opacity:0.9;}
ul.navbar-nav li.active a { background: #f8f8f8; border-color: #bf5181; color: #0e0e0e; opacity:0.9;}

ul.navbar-nav li a:hover, ul.navbar-nav li a:focus { background: #cb558a; border-color: #cb558a; color: #fff; outline: 0; }

.nav .open > a { background: #f8f8f8; border-color: #bf5181; color: #5d5d5d; }
.nav .open > a:hover, .nav .open > a:focus { background: #cb558a; border-color: #bf5181; color: #fff; }

ul.navbar-nav li a i { line-height: 35px; color: #b1b1b1; }
ul.navbar-nav li a:hover i, ul.navbar-nav li a:focus i { color: #fff; }

.dropdown-menu {
    border: 0;
    -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
    -moz-box-shadow: 0 6px 10px rgba(0, 0, 0, .15); -webkit-box-shadow: 0 6px 10px rgba(0, 0, 0, .15); box-shadow: 0 6px 10px rgba(0, 0, 0, .15);
}

.dropdown-menu > .active > a { background: #fff; color: #5d5d5d; }
.dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus { background: #f8f8f8; color: #cb558a; }

ul.navbar-nav li .dropdown-menu a { padding-top: 15px; padding-bottom: 15px; }
ul.navbar-nav li.active .dropdown-menu a { background: #fff; color: #5d5d5d; border: 0; }
ul.navbar-nav li.active .dropdown-menu a:hover,
ul.navbar-nav li.active .dropdown-menu a:focus { background: #bf5181; color: #fff; border: 0; }

ul.navbar-nav li.active .dropdown-menu > .active > a { background: #f8f8f8; color: #bf5181; border: 0; }
ul.navbar-nav li.active .dropdown-menu > .active > a:hover,
ul.navbar-nav li.active .dropdown-menu > .active > a:focus { background: #cb558a; color: #fff; border: 0; }

.navbar>.container .navbar-brand { margin-left: 0; background: #fff; }

.navbar-brand {
    width: 185px;
    height:60px;
    padding-top:5px;
    opacity: 0.85;
    /*background: url(../web/img/logos.jpg) left center no-repeat;*/
    /*text-indent: -99999px;*/
}

.slider-2-container {
    padding: 180px 0;
}

.slider-2-text {
    padding: 30px 0 43px 0;
    background: #1d1d1d; /* browsers that don't support rgba */
    background: rgba(0, 0, 0, .7);
    color: #fff;
}

.slider-2-text h1 {
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Lobster', cursive;
    font-size: 30px;
    color: #fff;
    font-weight: bold;
}

.slider-2-text p {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 18px;
    font-style: italic;
}


/***** Presentation *****/

.presentation-container {
    margin-top: 30px;
}

.presentation-container h1,.presentation-container h2 {
    font-family: 'Lobster', cursive;
    font-size: 26px;
    line-height: 38px;
    color: #5d5d5d;
    font-weight: bold;
    margin: 5px;
    /*background: #f8f8f8;*/
}

.presentation-container p {
    font-size: 18px;
    font-style: italic;
}


/***** Services *****/

.services-container {
    margin-top: 10px;
}

.services-title {
    margin-top: 40px;
    background: url(img/line.png) left center repeat-x;
}

.services-title h2 {
    width: 200px;
    margin: 0 auto;
    background: #fff;
    font-family: 'Lobster', cursive;
    font-size: 24px;
    color: #5d5d5d;
    font-weight: bold;
}

.service {
    margin-top: 40px;
    padding: 15px 15px 20px 15px;
    background: #f8f8f8;
    border-bottom: 2px solid #9d426b;
    box-shadow: 10px -3px 1px 1px rgba(0, 0, 0, .2);
}

.service:hover {
    box-shadow: 0 5px 15px 0 rgba(0,0,0,.05), 0 1px 25px 0 rgba(0,0,0,.05) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
    -o-transition: all .5s; -moz-transition: all .5s; -webkit-transition: all .5s; -ms-transition: all .5s; transition: all .5s;
}

.service .service-icon {
    font-size: 50px;
    line-height: 50px;
    color: #5d5d5d;
}

.service .service-icon i { vertical-align: middle; }

.service h3 {
    margin-top: 13px;
    font-family: 'Droid Sans', sans-serif;
    font-size: 14px;
    color: #5d5d5d;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(255,255,255,.7);
}
@media only screen and (min-device-width : 320px) and (max-device-width : 680px) {

    .service h3.size-company {
        font-family: 'Droid Sans', sans-serif;
        font-size: 13px;
    }
}

.service p {
    padding-bottom: 7px;
    line-height: 24px;
}


/***** Latest work *****/

/*.work-container {*/
    /*margin-top: 50px;*/
/*}*/

.work-title {
    background: url(img/line.png) left center repeat-x;
}

.work-title h2 {
    width: 220px;
    margin: 0 auto;
    background: #fff;
    font-family: 'Lobster', cursive;
    font-size: 24px;
    color: #5d5d5d;
    font-weight: bold;
}

.work {
    margin-top: 40px;
    padding-bottom: 20px;
    background: #f8f8f8;
    border-bottom: 2px solid #bf5181;
}
.work-price-detail {
    margin: 0 !important;
    padding-bottom: 10px !important;
    border-bottom: none !important;
}
.work-detail {
    margin: 0 !important;
    padding:0 !important;
    background: none !important;
    border-bottom: none !important;
}

.work:hover img {
   /* opacity: 0.7;*/
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}
.work:hover img.not-hover {
    opacity: 1;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

.work:hover {
    box-shadow: 0 5px 15px 0 rgba(0,0,0,.05), 0 1px 25px 0 rgba(0,0,0,.05) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
    -o-transition: all .5s; -moz-transition: all .5s; -webkit-transition: all .5s; -ms-transition: all .5s; transition: all .5s;
}

.work .work-bottom {
    margin-top: 15px;
}

.work h3 {
    margin-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Droid Sans', sans-serif;
    font-size: 14px;
    color: #5d5d5d;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(255,255,255,.7);
}

.work p {
    padding-left: 15px;
    padding-right: 15px;
    line-height: 24px;
    font-style: italic;
}

.size-style > h2{
    font-family: 'Lobster', cursive;
    font-size: 30px;
    color: #5d5d5d ;
    font-weight: bold;
}
/***** Testimonials *****/

.testimonials-container {
    margin-top: 50px;
    padding-bottom: 70px;
}

.testimonials-title {
    background: url(img/line.png) left center repeat-x;
}

.testimonials-title h2 {
    min-width: 180px;
    margin: 0 auto;
    font-family: 'Lobster', cursive;
    font-size: 24px;
    color: #5d5d5d;
    font-weight: bold;
}

.testimonials-title-more h2 {
    margin: 10px auto;
    font-family: 'Lobster', cursive;
    font-size: 24px;
    color: #5d5d5d;
    font-weight: bold;
}

.testimonial-list {
    margin-top: 30px;
    text-align: left;
}

.testimonial-list .tab-pane { overflow: hidden; }

.testimonial-list .testimonial-image {
    float: left;
    width: 10%;
    margin: 10px 0 0 0;
}
.testimonial-list .testimonial-image img { max-width: 64px; border: 3px solid #eaeaea; }

.testimonial-list .testimonial-text {
    float: left;
    width: 90%;
    font-size: 14px;
    line-height: 30px;
    font-style: italic;
}

.testimonial-list .nav-tabs {
    border: 0;
    text-align: right;
}

.testimonial-list .nav-tabs li {
    float: none;
    display: inline-block;
    margin-left: 2px;
    margin-right: 2px;
}

.testimonial-list .nav-tabs li a {
    width: 12px;
    height: 12px;
    padding: 0;
    background: #eaeaea;
    border: 0;
    -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
}

.testimonial-list .nav-tabs li a:hover { border: 0; background: #ddd; }
.testimonial-list .nav-tabs li.active a { background: #cb558a; }


/***** Footer *****/

footer {
    margin: 0 auto;
    padding-bottom: 10px;
    /*background: #f8f8f8 url(../img/pattern.jpg)  repeat;*/
    background-image: linear-gradient(#fdfdfd, #eeeeee, #fbfbfb);
    -moz-box-shadow: 0 5px 15px 0 rgba(0,0,0,.05) inset; -webkit-box-shadow: 0 5px 15px 0 rgba(0,0,0,.05) inset; box-shadow: 0 5px 15px 0 rgba(0,0,0,.05) inset;
}

.footer-box {
    margin-top: 20px;
    text-align: left;
}

.footer-box h4 {
    margin-top: 20px;
    font-family: 'Droid Sans', sans-serif;
    font-size: 14px;
    color: #5d5d5d;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(255,255,255,.7);
}

.footer-box-text p {
    line-height: 24px;
}

.footer-box-text-contact i {
    padding-right: 7px;
}

.footer-box-text-subscribe form {
    padding-bottom: 10px;
}

.footer-box-text-subscribe input[type="text"] {
    width: 95%;
    height: 26px;
}

/* Flickr feed */
.flickr-feed {
    margin: 16px 0 0 0;
}

.flickr-feed a {
    display: inline-block;
    width: 54px;
    margin: 0 4px 4px 0;
}
.flickr-feed a:hover { opacity: 0.7; }
.flickr-feed a img { border: 2px solid #eaeaea; }


.footer-border {
    margin-top: 30px;
    border-top: 1px dashed #ddd;
}

.footer-copyright {
    margin-top: 15px;
    line-height: 24px;
    text-align: left;
}

.footer-social {
    margin-top: 5px;
    text-align: right;
}
.footer-social a { margin: 0 0 0 10px; font-size: 26px; color: #888; }
.footer-social a:hover, .footer-social a:focus { color: #cb558a; }


/***** Page title *****/

.page-title-container {
    margin: 0 auto;
    padding: 30px 0 35px 0;
    background: #f8f8f8 url(../web/img/blog/pattern.jpg) left top repeat;
    text-align: left;
    -moz-box-shadow: 0 5px 15px 0 rgba(0,0,0,.05) inset, 0 -5px 15px 0 rgba(0,0,0,.05) inset;
    -webkit-box-shadow: 0 5px 15px 0 rgba(0,0,0,.05) inset, 0 -5px 15px 0 rgba(0,0,0,.05) inset;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,.05) inset, 0 -5px 15px 0 rgba(0,0,0,.05) inset;
}

.page-title-container h1 {
    display: inline;
    margin-left: 10px;
    font-family: 'Lobster', cursive;
    font-size: 24px;
    color: #5d5d5d;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .7);
    vertical-align: middle;
}

.page-title-container p {
    display: inline;
    margin-left: 5px;
    font-size: 14px;
    font-style: italic;
    vertical-align: middle;
}

.page-title-container i {
    font-size: 46px;
    color: #ccc;
    vertical-align: middle;
}


/* ----- ABOUT PAGE ----- */

/***** About us text *****/

.about-us-container {
    margin-top: 20px;
}

.about-us-text {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
}

.about-us-text h3 {
    margin-top: 25px;
    font-family: 'Droid Sans', sans-serif;
    font-size: 16px;
    color: #5d5d5d;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(255,255,255,.7);
}

.about-us-text p {
    line-height: 28px;
    font-size: 13px;
}

/***** Meet our team *****/

.team-container {
    margin-top: 30px;
}

.team-title {
    background: url(img/line.png) left center repeat-x;
}

.team-title h2 {
    width: 220px;
    margin: 0 auto;
    background: #fff;
    font-family: 'Lobster', cursive;
    font-size: 24px;
    color: #5d5d5d;
    font-weight: bold;
}

.team-box {
    margin-top: 40px;
    padding-bottom: 15px;
    background: #f8f8f8;
    border-bottom: 2px solid #bf5181;
}

.team-box:hover img {
    opacity: 0.7;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

.team-box:hover {
    -moz-box-shadow: 0 5px 15px 0 rgba(0,0,0,.05), 0 1px 25px 0 rgba(0,0,0,.05) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
    -webkit-box-shadow: 0 5px 15px 0 rgba(0,0,0,.05), 0 1px 25px 0 rgba(0,0,0,.05) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,.05), 0 1px 25px 0 rgba(0,0,0,.05) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
    -o-transition: all .5s; -moz-transition: all .5s; -webkit-transition: all .5s; -ms-transition: all .5s; transition: all .5s;
}

.team-box h3 {
    margin-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Droid Sans', sans-serif;
    font-size: 14px;
    color: #5d5d5d;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(255,255,255,.7);
}

.team-box p {
    padding-left: 15px;
    padding-right: 15px;
    line-height: 24px;
    font-style: italic;
}

.team-social a { margin: 0 5px; font-size: 26px; }


/* ----- CONTACT PAGE ----- */

/***** Form *****/

.contact-us-container {
    margin-top: 20px;
    padding-bottom: 50px;
    text-align: left;
}

.contact-us-container h3 {
    margin-top: 25px;
    font-family: 'Droid Sans', sans-serif;
    font-size: 16px;
    color: #5d5d5d;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(255,255,255,.7);
}

.contact-us-container p {
    line-height: 28px;
    font-size: 13px;
}

.contact-form {
    padding-top: 25px;
    padding-bottom: 30px;
}

.contact-form form {
    margin-top: 25px;
}

.contact-form form .form-group {
    margin-bottom: 20px;
}

.contact-form input[type="text"] { width: 95%; height: 34px; }
.contact-form textarea { width: 95%; height: 170px; padding-top: 6px; padding-bottom: 6px; }
.contact-form label { font-size: 13px; font-weight: 400; }
.contact-form label .error-label { font-style: italic }
.contact-form button { margin-top: 5px; padding: 0 45px; }

/***** Google map *****/

.contact-address {
    padding-bottom: 15px;
}

.contact-address .map {
    margin: 20px 0 40px 0;
    height: 300px;
    border: 5px solid #f8f8f8;
    -webkit-box-shadow:0 1px 1px rgba(0,0,0,0.2);
    -moz-box-shadow:0 1px 1px rgba(0,0,0,0.2);
    box-shadow:0 5px 5px 5px rgba(0,0,0,0.2);
}


/* ----- SERVICES PAGE ----- */

/***** Services full width text *****/

.services-full-width-container {
    margin-top: 20px;
}

.services-full-width-text {
    padding-top: 10px;
    text-align: left;
}

.services-full-width-text h3 {
    margin-top: 25px;
    font-family: 'Droid Sans', sans-serif;
    font-size: 16px;
    color: #5d5d5d;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(255,255,255,.7);
}

.services-full-width-text p {
    line-height: 28px;
    font-size: 13px;
}

/***** Services half width text *****/

.services-half-width-container {
    margin-top: 20px;
}

.services-half-width-text {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
}

.services-half-width-text h3 {
    margin-top: 25px;
    font-family: 'Droid Sans', sans-serif;
    font-size: 16px;
    color: #5d5d5d;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(255,255,255,.7);
}

.services-half-width-text p {
    line-height: 28px;
    font-size: 13px;
}

/***** Call to action *****/

.call-to-action-container {
    margin-top: 20px;
    padding-bottom: 50px;
}

.call-to-action-text {
    padding-top: 8px;
    /*padding-bottom: 15px;*/
    background: #f8f8f8;
    text-align: left;
    overflow: hidden;
}
.padding-text {
    padding-bottom: 15px;
}

.call-to-action-text:hover {
    -moz-box-shadow: 0 3px 10px 0 rgba(0,0,0,.05), 0 1px 25px 0 rgba(0,0,0,.05) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
    -webkit-box-shadow: 0 3px 10px 0 rgba(0,0,0,.05), 0 1px 25px 0 rgba(0,0,0,.05) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
    box-shadow: 0 3px 10px 0 rgba(0,0,0,.05), 0 1px 25px 0 rgba(0,0,0,.05) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
    -o-transition: all .5s; -moz-transition: all .5s; -webkit-transition: all .5s; -ms-transition: all .5s; transition: all .5s;
}

.call-to-action-text p {
    float: left;
    width: 100%;
    padding-left: 25px;
    line-height: 30px;
    font-size: 13px;
    font-style: italic;
}

.call-to-action-text .call-to-action-button {
    float: left;
    width: 20%;
    padding-right: 25px;
    margin-bottom: 10px;
    text-align: right;
}


/* ----- PORTFOLIO PAGE ----- */

.portfolio-container {
    margin-top: 20px;
    padding-bottom: 50px;
}

.portfolio-filters {
    padding-top: 35px;
    padding-bottom: 10px;
    font-family: 'Droid Sans', sans-serif;
    font-size: 16px;
    color: #5d5d5d;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(255,255,255,.7);
}

.portfolio-filters a { color: #5d5d5d; }
.portfolio-filters a:hover, .portfolio-filters a.active { color: #bf5181; }

.portfolio-box {
    width: 255px;
    margin: 40px 15px 0 15px;
}

.portfolio-box img {
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}
.portfolio-box:hover img { opacity: 0.7; }

.portfolio-box-container {
    position: relative;
    background: #f8f8f8;
    border-bottom: 2px solid #bf5181;
}

.portfolio-box-container:hover {
    box-shadow: 0 5px 15px 0 rgba(0,0,0,.05), 0 1px 25px 0 rgba(0,0,0,.05) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
    -o-transition: all .5s; -moz-transition: all .5s; -webkit-transition: all .5s; -ms-transition: all .5s; transition: all .5s;
}

.portfolio-box-container .embed-responsive.embed-responsive-16by9 {
    padding-bottom: 48%;
}

.portfolio-box-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 35px;
    height: 35px;
    padding-top: 7.5px;
    padding-left: 3px;
    background: #1d1d1d; /* browsers that don't support rgba */
    background: rgba(0, 0, 0, .7);
    font-size: 20px;
    color: #fff;
    line-height: 20px;
    -moz-border-radius: 19px; -webkit-border-radius: 19px; border-radius: 19px;
}

.portfolio-box-text {
    padding: 0 15px 20px 15px;
}

.portfolio-box-text h3 {
    cursor: pointer;
    margin-top: 20px;
    font-family: 'Droid Sans', sans-serif;
    font-size: 14px;
    color: #5d5d5d;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(255,255,255,.7);
}

.portfolio-box-text p {
    line-height: 24px;
    font-style: italic;
}


/* ----- PRICING TABLES PAGE ----- */

/* pricing 1 */
.pricing-1-container {
    margin-top: 47px;
}

.pricing-1-title {
    background: url(img/line.png) left center repeat-x;
}

.pricing-1-title h2 {
    width: 160px;
    margin: 0 auto;
    background: #fff;
    font-family: 'Lobster', cursive;
    font-size: 24px;
    color: #5d5d5d;
    font-weight: bold;
}

.pricing-1-box {
    padding-top: 40px;
    padding-bottom: 20px;
}

.pricing-1-box-inner {
    background: #f8f8f8;
}

.pricing-1-box-inner:hover {
    box-shadow: 0 5px 15px 0 rgba(0,0,0,.05), 0 1px 25px 0 rgba(0,0,0,.05) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
    -o-transition: all .5s; -moz-transition: all .5s; -webkit-transition: all .5s; -ms-transition: all .5s; transition: all .5s;
}

.pricing-1-box-price {
    padding: 20px 0 7px 0;
    background: #eee;
    font-family: 'Droid Sans', sans-serif;
    font-size: 42px;
    color: #5d5d5d;
    line-height: 54px;
    text-shadow: 0 1px 0 rgba(255,255,255,.7);
}
.pricing-1-box-best .pricing-1-box-price {
    background: #bf5181;
    color: #fff;
    text-shadow: none;
}

.pricing-1-box-price span {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #888;
    line-height: 30px;
    font-style: italic;
    text-shadow: none;
}
.pricing-1-box-best .pricing-1-box-price span {
    color: #fff;
}

.pricing-1-box h3 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px 20px;
    background: #eee;
    font-family: 'Droid Sans', sans-serif;
    font-size: 16px;
    color: #5d5d5d;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(255,255,255,.7);
}
.pricing-1-box.pricing-1-box-best h3 {
    background: #bf5181;
    color: #fff;
    text-shadow: none;
}

.pricing-1-box h4 {
    margin-top: 0;
    margin-bottom: 2px;
    padding: 10px 20px;
    background: #e8e8e8;
    font-family: 'Droid Sans', sans-serif;
    font-size: 14px;
    color: #5d5d5d;
    line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(255,255,255,.7);
}
.pricing-1-box.pricing-1-box-best h4 {
    background: #bf5181;
    color: #fff;
    text-shadow: none;
}

.pricing-1-box-features ul {
    margin: 0;
    margin-top: 5px;
    padding: 0;
    list-style: none;
}

.pricing-1-box-features li {
    padding: 8px 5px;
    border-bottom: 1px solid #eee;
    font-size: 14px;
    line-height: 18px;
    min-height: 40px;
}

.pricing-1-box-sign-up {
    padding: 25px 0;
}

/* pricing 2 */
.pricing-2-container {
    margin-top: 30px;
    padding-bottom: 40px;
}
.price-color, .price-color > h2 {
    background: #bf5181;
    color: #fff;
    text-shadow: none;
}
.price-color > strong {
    font-size:25px;
}
.color-price, .color-them{
    color: #bf5181;
}
.pricing-1-box-features b{
    color: #000000;
}
.work.wow.fadeInDown h3{
    color: #000000;
    font-size:20px;
}
#about , #contacty , #more, #project , #documenty, #tehnology, #material, #news, #news-more, #panorama{
    margin-top:70px;
}
#home{
    margin-top:90px;
}
.size-text {
    font-size: 15px;
}
.list.text-left > li{
    list-style-type: none;
}
/* ======= 5. Blog===== */
.blog-title {
    background: url(../web/img/blog/blog_fon.jpg);
    background-size: cover;
    vertical-align: middle;
    color: #F0FEFF;
    background-position: center;
    position: relative;
}
.blog-content
{
    margin-top: 80px;
}
.blog-title
{
    background-size: cover;
    vertical-align: middle;
    color: #F0FEFF;
    background-position: center;
    position: relative;
}
.blog-title .headline
{
    font-size: 36pt;
}
.blog-wrapper
{
    background-color: rgba(84, 99, 105, 0.62);
    padding: 78px 0px;
    margin-top: 5px;
}

.archive article
{
    margin-bottom: 62px;
}
.archive h4
{
    text-transform: uppercase;
    font-size: 24px;
}
article h4 a
{
    color: rgb(68,68,68);
}
.img-padder
{
    background-color: #f8f8f8;
    border: 1px solid #eaeaea;
    padding: 5px;
    margin-bottom: 20px;
    margin-top: 12px;
}
main .info
{
    border-bottom: 1px dotted #eaeaea;
    border-top: 1px dotted #eaeaea;
    padding: 10px 0;
    margin: 20px 0;
    color: rgba(100, 100, 100, 0.8);
}
.list-inline
{
    padding-left: 0;
    list-style: none;
    margin-left: -5px;
    text-align: center;
}
.blog-content main .info.list-inline li:not(:last-child)
{
    border-right: 1px solid #eaeaea;
}

.blog-content main .info.list-inline li:first-child {
    padding-left: 0px;
}

.blog-content main .info li
{
    display: table-cell;
    padding: 0 35px 0 35px;
}

main p {
    font-family: 'PT Sans',sans-serif;
    font-size: 16px;
    color: rgb(153,153,153);
}
.rm-btn
{
    background-color: transparent;
    margin-top: 20px;
    color: #bf5181;
    font-size: 16px;
    transition: all 0.3s ease-in;
    padding: 10px 25px;
    border-color: #bf5181;
    border-radius: 50px;
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}
.rm-btn:hover
{
    background-color: #cb558a;
    color: #fff;
    border-color: #bf5181;
}
.blog-rm-btn
{
    /* background-color: transparent; */
    background-color: #bf5181;
    border-color: #A7D1D8;
    /* color: #46a1b4; */
    color: #fff;
    border-radius: 0px;
    transition: all 0.3s ease-in;
}

.blog-rm-btn:hover
{
    /* background-color: #085A6C; */
    background-color: darkcyan;
    color: #fff;
    border-color: #bf5181;
}
.widget.widget_tag_cloud .tagcloud a
{
    background-color: #eaeaea;
    border: 1px solid #f3f3f3;
    padding: 5px 10px;
    margin: 0 3px 8px 0;
    font-size: 14px !important;
    display: inline-block;
}
/* -------------------------------------------Sidebar------------------------------------------- */
.blog-content aside .widget, .faq-content aside .widget
{
    margin-bottom: 40px;
}
.widget h4
{
/*    background: url("../img/title-bg.png") repeat-x scroll 0 4px rgba(0, 0, 0, 0);*/
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 0;
}
.widget.widget_iw_last_posts h5
{
    margin-bottom: 5px;
    font-weight: 400;
}
.widget h4 span, .special-service h2 span
{
    background: white;
    padding-right: 10px;
}
.widget h5
{
    text-transform: none;
    font-size: 14px;
    margin-top: 10px;
}
.widget ul
{
    padding-left: 0;
    list-style: none;
}
.widget ul li
{
    border-bottom: 1px solid #f3f3f3;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    list-style: none;
    display: block;
    padding: 10px 20px 10px 0;
    position: relative;
}
.widget ul li:hover
{
    background: #f8f8f8;
    padding-left: 10px;
}
.widget ul li:hover a
{
    text-decoration: none;
}
.widget ul li:before
{
    color: #646464;
    content: "\f0da";
    font-family: FontAwesome;
    position: absolute;
    right: 5px;
    top: 12px;
    font-size: 11px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.widget.widget_tag_cloud .tagcloud a
{
    background-color: #eaeaea;
    border: 1px solid #f3f3f3;
    padding: 5px 10px;
    margin: 0 3px 8px 0;
    font-size: 14px !important;
    display: inline-block;
}

.img-padder
{
    background-color: #f8f8f8;
    border: 1px solid #eaeaea;
    padding: 5px;
    margin-bottom: 20px;
    margin-top: 12px;
}

/*call me*/
#popup_toggle{bottom:50px;right:10px;position:fixed;}
.img-circle,.img-circle2{background-color: #bf5181;box-sizing:content-box;-webkit-box-sizing:content-box;}
.circlephone{box-sizing:content-box;-webkit-box-sizing:content-box;border: 2px solid #bf5181;width:160px;height:160px;bottom:-25px;right:10px;position:absolute;-webkit-border-radius:100%;-moz-border-radius: 100%;border-radius: 100%;opacity: .5;-webkit-animation: circle-anim 2.4s infinite ease-in-out !important;-moz-animation: circle-anim 2.4s infinite ease-in-out !important;-ms-animation: circle-anim 2.4s infinite ease-in-out !important;-o-animation: circle-anim 2.4s infinite ease-in-out !important;animation: circle-anim 2.4s infinite ease-in-out !important;-webkit-transition: all .5s;-moz-transition: all .5s;-o-transition: all .5s;transition: all 0.5s;}
.circle-fill{box-sizing:content-box;-webkit-box-sizing:content-box;background-color: #bf5181;width:110px;height:110px;bottom:0px;right:35px;position:absolute;-webkit-border-radius: 100%;-moz-border-radius: 100%;border-radius: 100%;border: 2px solid transparent;-webkit-animation: circle-fill-anim 2.3s infinite ease-in-out;-moz-animation: circle-fill-anim 2.3s infinite ease-in-out;-ms-animation: circle-fill-anim 2.3s infinite ease-in-out;-o-animation: circle-fill-anim 2.3s infinite ease-in-out;animation: circle-fill-anim 2.3s infinite ease-in-out;-webkit-transition: all .5s;-moz-transition: all .5s;-o-transition: all .5s;transition: all 0.5s;}
.img-circle{box-sizing:content-box;-webkit-box-sizing:content-box;width:77px;height: 77px;bottom: 17px;right: 52px;position:absolute;-webkit-border-radius: 100%;-moz-border-radius: 100%;border-radius: 100%;border: 2px solid transparent;opacity: .7;}
.img-circleblock{box-sizing:content-box;-webkit-box-sizing:content-box;width:77px;height:77px;background-image:url(../assets/img/mini.png);background-position: center center;background-repeat:no-repeat;animation-name: tossing;-webkit-animation-name: tossing;animation-duration: 1.5s;-webkit-animation-duration: 1.5s;animation-iteration-count: infinite;-webkit-animation-iteration-count: infinite;}
.img-circle:hover{opacity: 1;}
.img-circle:hover .img-circleblock{background-image:url(../assets/img/mini2.png);animation-name: pulse;-webkit-animation-name: pulse; animation-duration: 2.5s; -webkit-animation-duration: 2.5s;animation-iteration-count: infinite;-webkit-animation-iteration-count: infinite;}
.img-circle2{box-sizing:content-box;-webkit-box-sizing:content-box;width:77px;height:77px;bottom: 17px;right: 52px;position:absolute;-webkit-border-radius: 100%;-moz-border-radius: 100%;border-radius: 100%;border: 2px solid transparent;opacity: 1;}
/*
.img-circleblock2{box-sizing:content-box;-webkit-box-sizing:content-box;width:77px;height:77px;background-image:url(/assets/img/mini3.png);background-position: center center;background-repeat:no-repeat;-moz-transition: all 0.4s ease-in-out; -webkit-transition: all 0.4s ease-in-out; -o-transition: all 0.4s ease-in-out; -ms-transition: all 0.4s ease-in-out; transition: all 0.4s ease-in-out;}
*/
.img-circleblock2:hover {background-image:url(../assets/img/mini.png);-moz-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -ms-transform: rotate(360deg); transform: rotate(360deg);}
@keyframes pulse {0% {transform: scale(0.9);opacity: 1;}
    50% {transform: scale(1); opacity: 1; }
    100% {transform: scale(0.9);opacity: 1;}}
@-webkit-keyframes pulse {0% {-webkit-transform: scale(0.95);opacity: 1;}
    50% {-webkit-transform: scale(1);opacity: 1;}
    100% {-webkit-transform: scale(0.95);opacity: 1;}}
@keyframes tossing {
    0% {transform: rotate(-8deg);}
    50% {transform: rotate(8deg);}
    100% {transform: rotate(-8deg);}}
@-webkit-keyframes tossing {
    0% {-webkit-transform: rotate(-8deg);}
    50% {-webkit-transform: rotate(8deg);}
    100% {-webkit-transform: rotate(-8deg);}}
@-moz-keyframes circle-anim {
    0% {-moz-transform: rotate(0deg) scale(0.5) skew(1deg);opacity: .1;-moz-opacity: .1;-webkit-opacity: .1;-o-opacity: .1;}
    30% {-moz-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .5;-moz-opacity: .5;-webkit-opacity: .5;-o-opacity: .5;}
    100% {-moz-transform: rotate(0deg) scale(1) skew(1deg);opacity: .6;-moz-opacity: .6;-webkit-opacity: .6;-o-opacity: .1;}}
@-webkit-keyframes circle-anim {
    0% {-webkit-transform: rotate(0deg) scale(0.5) skew(1deg);-webkit-opacity: .1;}
    30% {-webkit-transform: rotate(0deg) scale(0.7) skew(1deg);-webkit-opacity: .5;}
    100% {-webkit-transform: rotate(0deg) scale(1) skew(1deg);-webkit-opacity: .1;}}
@-o-keyframes circle-anim {
    0% {-o-transform: rotate(0deg) kscale(0.5) skew(1deg);-o-opacity: .1;}
    30% {-o-transform: rotate(0deg) scale(0.7) skew(1deg);-o-opacity: .5;}
    100% {-o-transform: rotate(0deg) scale(1) skew(1deg);-o-opacity: .1;}}
@keyframes circle-anim {
    0% {transform: rotate(0deg) scale(0.5) skew(1deg);opacity: .1;}
    30% {transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .5;}
    100% {transform: rotate(0deg) scale(1) skew(1deg);
        opacity: .1;}}
@-moz-keyframes circle-fill-anim {
    0% {-moz-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}
    50% {-moz-transform: rotate(0deg) -moz-scale(1) skew(1deg);opacity: .2;}
    100% {-moz-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}
@-webkit-keyframes circle-fill-anim {
    0% {-webkit-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;  }
    50% {-webkit-transform: rotate(0deg) scale(1) skew(1deg);opacity: .2;  }
    100% {-webkit-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}
@-o-keyframes circle-fill-anim {
    0% {-o-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}
    50% {-o-transform: rotate(0deg) scale(1) skew(1deg);opacity: .2;}
    100% {-o-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}
@keyframes circle-fill-anim {
    0% {transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}
    50% {transform: rotate(0deg) scale(1) skew(1deg);opacity: .2;}
    100% {transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}


.scrollToTop {
    bottom: 60px;
    display: none;
    font-size: 32px;
    font-weight: bold;
    height: 50px;
    position: fixed;
    left: 50px;
    text-align: center;
    text-decoration: none;
    width: 50px;
    z-index: 9999;
    color: #fff;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-border-radius:100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.scrollToTop:hover, .scrollToTop:focus{
    text-decoration: none;
    outline: none;
    background-color: #cb558a;
    color: #ffffff;
}
.scrollToTop {
    background-color: #bf5181;
}
.modal-callme {
    background-color: #bf5181;
    color:#ffffff;
}

ul.blogs > li.active >a{
    background-color: #bf5181;
}
ul.blogs > li >a , #call-me-body i{
    color: #bf5181;
}
ul.blogs > li.active >a:hover, .archive > .pagination > li > a:hover{
    color: #ffffff;
    background-color: #cb558a;
}

div.modal-dialog.modal-md > div.modal-content > div.modal-header, .archive > .pagination > .active > a {
    color: #ffffff;
    background-color: #bf5181;
}
div.modal-dialog.modal-md >div.modal-content >div.modal-header button{
    color: #ffffff;
    background: transparent;
}

.archive > .pagination > li > a{
    color: #bf5181;
}

.image:hover {
    cursor: pointer;
    opacity: 1;
    z-index: 5;
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
}

.image-3 {
    -webkit-box-shadow:0 1px 1px rgba(0,0,0,0.2);
    -moz-box-shadow:0 1px 1px rgba(0,0,0,0.2);
    box-shadow:0 5px 5px 5px rgba(0,0,0,0.2);
}
.image-2:hover {
    cursor: pointer;
    opacity: 1;
    z-index: 5;
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.destacados{
    padding: 70px 0;
    text-align: center;
}

.box1 {
    position:relative;
    z-index:1;
    width:100%;
    padding:5px;
    /*  margin:20px auto;*/
    border: 1px solid rgb(200, 200, 200);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 2px;
    background:  #f8f8f8;
    border-radius: 4px;
}
.box2 {
    position:relative;
    width:100%;
    padding:5px;
    /*  margin:20px auto;*/
    border: 1px solid rgb(200, 200, 200);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 2px;
    /*background:  #f8f8f8;*/
    background: #ffffff;
    border-radius: 4px;
}

.box1 h3 {
    position:relative;
    padding:10px 30px;
    margin:0 -15px 20px;
    font-size:28px;
    line-height:32px;
    font-weight:bold;
    text-align:center;
    color:#fff !important;
    background: #bf5181;
    text-shadow:0 1px 1px rgba(0,0,0,0.2);
    -webkit-box-shadow:0 1px 1px rgba(0,0,0,0.2);
    -moz-box-shadow:0 1px 1px rgba(0,0,0,0.2);
    box-shadow:0 1px 1px rgba(0,0,0,0.2);
    zoom:1;
}

.box1 h3:before,.box1 h3:after {
    content:"";
    position:absolute;
    z-index:-1;
    top:100%;
    left:0;
    border-width:0 10px 10px 0;
    border-style:solid;
    border-color:transparent #bf5181;
}

.box1 h3:after {
    left:auto;
    right:0;
    border-width:0 0 10px 10px;
}

.box1 p {
    position:relative;
    padding:10px 30px;
    margin:0 -15px 20px;
    font-size:28px;
    line-height:32px;
    font-weight:bold;
    text-align:center;
    color:#fff !important;
    background: #bf5181;
    text-shadow:0 1px 1px rgba(0,0,0,0.2);
    -webkit-box-shadow:0 1px 1px rgba(0,0,0,0.2);
    -moz-box-shadow:0 1px 1px rgba(0,0,0,0.2);
    box-shadow:0 1px 1px rgba(0,0,0,0.2);
    zoom:1;
}

.box1 p:before,.box1 h3:after {
    content:"";
    position:absolute;
    z-index:-1;
    top:100%;
    left:0;
    border-width:0 10px 10px 0;
    border-style:solid;
    border-color:transparent #bf5181;
}

.box1 p:after {
    left:auto;
    right:0;
    border-width:0 0 10px 10px;
}
.box1 h4, .black{
    color: #000000;
    font-weight:bold;
}

/* carousel */
.media-carousel
{
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
    margin-top: 30px;
}
/* Previous button  */
.media-carousel .carousel-control.left
{
    left: -12px;
    background: none repeat scroll 0 0 #222222;
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    height: 40px;
    width : 40px;
    margin-top: 30px
}
/* Next button  */
.media-carousel .carousel-control.right
{
    right: -12px !important;
    background: none repeat scroll 0 0 #222222;
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    height: 40px;
    width : 40px;
    margin-top: 30px
}
/* Changes the position of the indicators */
.media-carousel .carousel-indicators
{
    right: 50%;
    top: auto;
    bottom: 0;
    margin-right: -19px;
}
/* Changes the colour of the indicators */
.media-carousel .carousel-indicators li
{
    background: #c0c0c0;
}
.media-carousel .carousel-indicators .active
{
    background: #333333;
}

/* End carousel */

.contact-size {
    font-size: 25px;
}
.contact-size2 {
    font-size: 15px;
}

.view-info-adress{
    height:30px;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}
.view-info{
    height:77px;
}
.not-border{
    border:none !important;
}

/* main slider */
.fade-carousel > .carousel-fade .carousel-inner .item {
    opacity: 0 !important;
    transition-property: opacity !important;
    overflow:hidden !important;
}
.fade-carousel .item.active img {
    transition: transform 5000ms linear 0s !important;
    /* This should be based on your carousel setting. For bs, it should be 5second*/
    transform: scale(1.05, 1.05) !important;
}
.fade-carousel > .carousel-fade .carousel-inner .active {
    opacity: 1 !important;
}

.fade-carousel > .carousel-fade .carousel-inner .active.left,
.fade-carousel > .carousel-fade .carousel-inner .active.right {
    left: 0 !important;
    opacity: 0 !important;
    z-index: 1 !important;
}

.fade-carousel > .carousel-fade .carousel-inner .next.left,
.fade-carousel > .carousel-fade .carousel-inner .prev.right {
    opacity: 1 !important;
}

.fade-carousel > .carousel-fade .carousel-control {
    z-index: 2 !important;
}

@media all and (transform-3d), (-webkit-transform-3d) {
    .fade-carousel > .carousel-fade .carousel-inner > .item.next,
    .fade-carousel > .carousel-fade .carousel-inner > .item.active.right {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .fade-carousel >  .carousel-fade .carousel-inner > .item.prev,
    .fade-carousel > .carousel-fade .carousel-inner > .item.active.left {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .fade-carousel > .carousel-fade .carousel-inner > .item.next.left,
    .fade-carousel > .carousel-fade .carousel-inner > .item.prev.right,
    .fade-carousel > .carousel-fade .carousel-inner > .item.active {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
.effect5
{
    /*margin: 0 0 30px;*/
    background: #fff;
    border: 4px solid #fff;
    position: relative;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,.2);
    -o-box-shadow: 0 1px 4px rgba(0,0,0,.2);
    box-shadow: 0 1px 4px rgba(0,0,0,.2);
}
.effect5:before, .effect5:after
{
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 25px;
    left: 10px;
    width: 50%;
    top: 70%;
    max-width:300px;
    background: #777;
    -webkit-box-shadow: 0 35px 20px #777;
    -moz-box-shadow: 0 35px 20px #777;
    box-shadow: 0 35px 20px #777;
    -webkit-transform: rotate(-8deg);
    -moz-transform: rotate(-8deg);
    -o-transform: rotate(-8deg);
    -ms-transform: rotate(-8deg);
    transform: rotate(-8deg);
}
.effect5:after
{
    -webkit-transform: rotate(8deg);
    -moz-transform: rotate(8deg);
    -o-transform: rotate(8deg);
    -ms-transform: rotate(8deg);
    transform: rotate(8deg);
    right: 10px;
    left: auto;
}
.boxShadow8 {
    /*width: 80%;*/
    /*max-width: 550px;*/
/*    margin: 1em auto;*/
    padding: 10px;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}
.panorama {
    width: 100%;
    float: left;
    margin-top: -5px;
    height: 700px;
    position: relative;
}
.font-more{
    font-size:13px;
    color:#777;
}

.sales{
    display:none;
}
.lenta-action {
    width: 85px;
    height: 88px;
    overflow: hidden;
    position: absolute;
    top: -2px;
    right: -2px;
}
.lenta-action1 {
    width: 85px;
    height: 88px;
    overflow: hidden;
    position: absolute;
    top: -2px;
    right: 14px;
}
.lenta-action2 {
    width: 100px;
    height: 110px;
    overflow: hidden;
    position: absolute;
    top: -2px;
    right: -2px;
}

.none-block{
    display:none;
}
 .lenta-wrapper-yellow {
     width: 85px;
     height: 88px;
     overflow: hidden;
     position: absolute;
     top: -2px;
     right: -2px;
 }

.lenta-yellow {
    font: bold 14px Sans-Serif;
    color: #f9f9f9;
    text-align: center;
    text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
    -webkit-transform: rotate(45deg);
    -moz-transform:    rotate(45deg);
    -ms-transform:     rotate(45deg);
    -o-transform:      rotate(45deg);
    position: relative;
    padding: 10px 0;
    left: -5px;
    top: 15px;
    width: 120px;
    background-color: #af4a77;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e25f9a), to(#953f66));
    background-image: -webkit-linear-gradient(top, #e25f9a, #953f66);
    background-image:    -moz-linear-gradient(top, #e25f9a, #953f66);
    background-image:     -ms-linear-gradient(top, #e25f9a, #953f66);
    background-image:      -o-linear-gradient(top, #e25f9a, #953f66);
    color: #f9f9f9;
    -webkit-box-shadow: 0px 0px 3px rgba(248, 19, 62, 0.78);
    -moz-box-shadow:    0px 0px 3px rgba(248, 19, 62, 0.78);
    box-shadow:         0px 0px 3px rgba(248, 19, 62, 0.78);
}

.lenta-yellow:before, .lenta-yellow:after {
    content: "";
    border-top:   3px solid #af4a77;
    border-left:  3px solid transparent;
    border-right: 3px solid transparent;
    position: absolute;
    bottom: -3px;
}

.lenta-yellow:before { left: 0; }
.lenta-yellow:after { right: 0; }

.video {
    /*margin: 20px 0 40px 0;*/
  /*  max-width: 300px;
    max-height: 300px;*/
    border: 5px solid #f8f8f8;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
    box-shadow: 0 5px 5px 5px rgba(0,0,0,0.2);
}
.embed-responsive.embed-responsive-16by9 {
    padding-bottom: 56.25%;
}

.embed-responsive.embed-responsive-4by3 {
    padding-bottom: 75%;
}

.embed-responsive{
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
    width:100%;
}

.embed-responsive .embed-responsive-item, .embed-responsive iframe, .embed-responsive embed, .embed-responsive object{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
#blink1 {
    -webkit-animation: blink1 3s linear infinite;
    animation: blink1 3s linear infinite;
}
#blink2 {
    -webkit-animation: blink1 6s linear infinite;
    animation: blink1 6s linear infinite;
}

@-webkit-keyframes blink1 {
    0% { color: rgba(203, 85, 138,1); }
    50% { color: rgba(203, 85, 138, 0); }
    100% { color: rgba(203, 85, 138,1); }
}
@keyframes blink1 {
    0% { color: rgba(203, 85, 138, 1); }
    50% { color: rgba(203, 85, 138, 0); }
    100% { color: rgba(203, 85, 138, 1); }
}

.meandr{
   height: 70px;
    background: url(../web/img/meandr4.png) repeat #fff;
    opacity: 0.9!important;
}

p.text-action{
    position: absolute;
    display: block;
    color:#fff;
    font-size:20px;
    z-index: 1;
    top:100px;
    left:200px;
}

@media screen and (min-width:320px) {
    .bloc-carusel img {width: 100px; height: 60px;}
    img.image-3 {
        width: 100%;
        height: 120px
    }
    .presentation-container h1{font-size: 20px;line-height: 15px; margin: 5px;}
    h2.text-promo {
        line-height: 1.2em;
        font-family: 'Lobster', cursive;
        font-size: 18px;
    }
    .timeTo {
        font-family: Tahoma, Verdana, Aial, sans-serif;
        font-size: 28px;
        line-height: 108%;
        font-weight: bold;
        height: 60px !important;
    }
    #countdown figure:nth-last-child(1), #countdown figure:nth-of-type(3), #countdown span{display: none;}

}

@media screen and (min-width:375px) {
    img.image-3{width:100%; height:120px}
    .presentation-container h1, .presentation-container h2{font-size: 20px;line-height: 15px; margin: 5px;}
    h2.text-promo{ font-family: 'Lobster', cursive;font-size: 20px;line-height:1.2em}
    .clock-timer{
        margin-left:10px;
        margin-right:10px;
    }
    .timeTo {
        font-family: Tahoma, Verdana, Aial, sans-serif;
        font-size: 28px;
        line-height: 108%;
        font-weight: bold;
        height: 80px !important;
    }
    #countdown figure:nth-last-child(1), #countdown span:nth-last-of-type(1){display: none;}
    #countdown figure:nth-of-type(3), #countdown span{display: inline-block;}
}

@media screen and (min-width:414px) {
    img.image-3{width:100%; height:120px}
    .presentation-container h1, .presentation-container h2{font-size: 20px;line-height: 15px;}
    h2.text-promo{ font-family: 'Lobster', cursive; font-size: 24px;line-height:1.2em}
    .clock-timer{
        margin-left:10px;
        margin-right:10px;
    }
    #countdown figure:nth-last-child(1), #countdown span:nth-last-of-type(1){display: none;}
    #countdown figure:nth-of-type(3), #countdown span{display: inline-block;}
}

@media screen and (min-width:768px) {
    img.image-3{width:100%; height:100%}
    .presentation-container h1, .presentation-container h2{font-size: 26px;line-height: 38px;}
    h2.text-promo{ font-family: 'Lobster', cursive;font-size: 32px;line-height:1.2em}
    .clock-timer{
        margin-left:10px;
        margin-right:10px;
    }
    .timeTo {
        font-family: Tahoma, Verdana, Aial, sans-serif;
        font-size: 28px;
        line-height: 108%;
        font-weight: bold;
        height: 92px !important;
    }
     #countdown figure:nth-last-child(1), #countdown figure:nth-of-type(3),
     #countdown span:nth-last-of-type(1), #countdown span{display: inline-block;}

}

@media screen and (min-width:1000px) {
    .bloc-carusel img {width: 200px; height: 150px;}
    .bloc-carusel a {width: 100px; height: 90px;}
    .pricing-1-box-features li {min-height: 50px !important; padding: 8px 3px;}
}


@media screen and (min-width:1200px) {
    .bloc-carusel img {width: 200px; height: 150px;}
    img.image-3{width:100%; height:100%}
    .presentation-container h1{font-size: 26px;line-height: 38px;}
    h2.text-promo{ font-family: 'Lobster', cursive; font-size: 32px;line-height:1.2em}
    .clock-timer{
        margin-left:200px;
        margin-right:100px;
    }
    .timeTo {
        font-family: Tahoma, Verdana, Aial, sans-serif;
        font-size: 28px;
        line-height: 108%;
        font-weight: bold;
        height: 92px !important;
    }
    #countdown figure:nth-last-child(1), #countdown figure:nth-of-type(3),
    #countdown span:nth-last-of-type(1), #countdown span{display: inline-block;}
}

.consultant{
    margin-top:5px;
    margin-bottom:10px;
    font-family: 'Lobster', cursive;
    font-size: 24px;
    color: #5d5d5d;
    font-weight: bold;}